
<div class="mt-4">
    <div>
       <a href="/me/stored/courses">Danh sách khóa học</a>
       <h3>Khóa học đã xóa</h3>
    </div>
    <table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Tên khóa học</th>
            <th scope="col">Trình độ</th>
            <th scope="col">Thời gian xóa</th>
        </tr>
    </thead>
    <tbody>
         {{#each courses}}
        <tr>
            <th scope="row">{{sum @index 1}}</th>
            <td>{{this.name}}</td>
            <td>{{this.level}}</td>
            <td>{{this.deletedAt}}</td>
            <td><a href="" class="btn btn-link btn-restore" data-id="{{this._id}}">Khôi phục</a></td>
            <td><a href="" class="btn btn-link" data-bs-toggle="modal" data-id={{this._id}} data-bs-target="#delete-course-modal">Xóa vĩnh viễn</a></td>
        </tr>
        {{else}}
        <tr>
          <td colspan="5" class="text-center">
              Thùng rác trống
              <div>
                <a href="/me/stored/courses">
                    Danh sách khóa học
                </a>
              </div>
          </td>
        </tr>
        {{/each}}
    </tbody>
</table>
</div>
{{!-- Confirm delete --}}
<div id="delete-course-modal" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Thông báo</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Bạn có muốn xóa vĩnh viễn khóa học này không ?</p>
      </div>
      <div class="modal-footer">
        <button id="btn-delete-course" type="button" class="btn btn-danger" >Có</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Không</button>
      </div>
    </div>
  </div>
</div>

<form name="delete-course-form" method="POST"></form>
<form name="restore-course-form" method="POST"></form>

<script>
    var deleteCourseModal = document.getElementById('delete-course-modal')

    var deleteForm=document.forms['delete-course-form']

    var btnDeleteCourse=document.getElementById('btn-delete-course')

    

    var restoreForm=document.forms['restore-course-form']

//when dialog confirm clicked
    var courseId
        deleteCourseModal.addEventListener('show.bs.modal', function (event) {
        var button = event.relatedTarget
        courseId = button.getAttribute('data-id')
        })
// when delete course button clicked  
        btnDeleteCourse.onclick = function(){
            deleteForm.action='/courses/' + courseId + '/force?_method=DELETE'
            deleteForm.submit()
        }
// Restore button clicked
        var restoreBtn = document.querySelectorAll('.btn-restore');
        for(let i=0;i<restoreBtn.length;i++){
          restoreBtn[i].onclick=function(e){
            e.preventDefault();
            var courseId=restoreBtn[i].getAttribute('data-id')
            restoreForm.action = '/courses/' + courseId + '/restore?_method=PATCH';
            restoreForm.submit();
          }
        }
</script>
